@charset "utf-8";
/**
 * Documentation print layout
 * 
 * @version     08/09/2012
 * @author      Frank Bültge
 */

/* Start Allgemeines Druck-Layout */
#header, #respond, #footer, #commentform, #headerimg, a#tooCool, #searchform, #s, #submit, #sidebar, #wp-calendar {
display: none;
}

#respond p, #comment p, #commentform p, .info {
display: none;
}

select, input, textarea, ckeckbox, dd {
display: none;
}

.navigation, .postmetadata, .subscribe {
display: none;
}

body {
text-align: left;
margin: 0;
padding: 0;
font: 12pt Garamond, Palatino, "Times New Roman", Times, serif;
color: black;
background: transparent;
}

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
margin: .75em 0 .5em 0;
text-align: left;
page-break-after: avoid;
}

p {
margin: .5em;
}

img {
border: 0;
}

a, a:visited, a:hover, a:visited:hover {
color: #0100be;
background: transparent;
text-decoration: none;
}

a[href]:after {
content:" (Link zu: <"attr(href)">) ";
color: lightgrey;
background-color:inherit;
font-style:italic;
font-size: 9pt;
} 

*[name]:after {
content:" [#"attr(name)"]";
color: lightgrey;
background-color:inherit;
font-style:italic;
font-size: .7em;
} 

*[title]:after {
content:" ("attr(title)")";
color: lightgrey;
background-color:inherit;
font-style:italic;
font-size: .7em;
} 

*[acronym]:after {
content:" ("attr(acronym)")";
color: lightgrey;
background-color:inherit;
font-style:italic;
font-size: .7em;
} 

*[cite]:after {
content:close-quote" (Quelle: "attr(cite)")";
font-size: .7em;
} 

* {
quotes: "\201E" "\201C" "\201A" "\2018";
} 

q:before, blockquote:before {
content:open-quote;
} 

q:after, blockquote:after {
content:close-quote;
}

blockquote, q, cite {
padding-left: 2em;
}
/* Ende Allgemeines Druck-Layout */


/* Start spezielle WP-Tags */
code {
font: .8em 'Courier New', Courier, Fixed;
color: gray;
padding-left: 2em;
}

code a[href]:after {
content:"";
}
/* Ende spezielle WP-Tags */