@charset utf-8;

@media only screen and (max-width: 767px) {
	
	.post table { display: block; position: relative; width: 100%; }
	.post table thead { display: block; float: left; }
	.post table tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.post table thead tr { display: block; }
	.post table th { display: block; }
	.post table tbody tr { display: inline-block; vertical-align: top; }
	.post table td { display: block; min-height: 1.25em; }
	
	.post table { display: block; position: relative; width: 100%; }
	.post table thead { display: block; float: left; }
	.post table tbody { display: -webkit-box; overflow-x: auto; }
	.post table th,
	.post table tr,
	.post table td { display: block; }
	
	/* sort out borders */
	.post table th { border-bottom: 0; }
	.post table td { border-left: 0; border-right: 0; border-bottom: 0; }
	.post table tbody tr { border-right: 1px solid #babcbf; }
	.post table th:last-child,
	.post table td:last-child { border-bottom: 1px solid #babcbf; }
}

/* works with js and the css class .responsive on the table */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
}